@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  box-sizing: content-box;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(208, 202, 192);
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
  }
}


@layer utilities {
  .custom-scrollbar {
    scrollbar-color: gray rgb(208, 202, 192);
    scrollbar-width: thin;
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #eeedf7;
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #9b9fa9;
    border-radius: 100vh;
    border: 2px solid #edf1f7;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #246eb5;
  }
}

@layer components {
  .labelForInputForms {
    @apply text-sm font-semibold text-left;
  }

  .inputForms {
    @apply border rounded-lg focus:ring-2 focus:outline-none p-2 w-full;
  }
}